<div id="<%= dom_id recipe %>">
  <p>
    <strong>Recipe: <%= recipe.id %></strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= recipe.description %>
  </p>

  
</div>
