<div id="<%= dom_id food %>">
  <tr>
    <td>
      <%= food.food.name %>
    </td>

    <td>
      <%= food.quantity %>
    </td>

    <td>
    <%= (food.quantity.to_f)*food.food.price %>
    </td>
  <tr>

  </div>
