<p style="color: green"><%= notice %></p>
  
<section class="foods-index">
<h1>Foods</h1>
<button class="foods_newButton"><%= link_to "Add new food", new_food_path %></button>

<div id="foods_table">
  <table>
    <tr>
      <th>Name <%= link_to "▲", :sort => "name" %></th>
      <td><strong>Measurement Unit</strong></td>
      <td><strong>Price</strong></td>
      <td><strong>Actions</strong>
     

    </tr>  
    
  <% @foods.each do |food| %>
     <%= render food %>
  <% end %>
  
  </table>  




</div>


</section>