@import "../application.css";

h1 {
  align-self: flex-start;
  margin-left: 20px;
}

.public_recipe {
  width: 60%;
  border-radius: 7px;
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.recipe_info {
  margin-right: 50px;
}
