/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
background-color:#FED2AA;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
margin: 0%;
padding: 0%;
}

nav{
  background-color: #CEE5D0;
  display: flex;
  justify-content: flex-end;
  
  top: -15px;
  left: 0px;
  width: 100%;
  height: 7%;
  align-items: center;
}

.nav_bar {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 30px;
}

.nav_bar li {
  padding: 0%;
}

.nav_bar a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}


section {
  background-color:#F3F0D7;
  width: 90%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cheat {
    margin-top: 200px;
}